<html>

<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>

<body>
    <div id="main"></div>

    <!-- Backbone models    -->
    <script src="js/libs/jquery.js"></script>
    <script src="js/libs/q.js"></script>
    <script src="js/libs/underscore.js"></script>
    <script src="js/libs/backbone.js"></script>
    <script src="js/libs/backbone.wreqr.js"></script>
    <script src="js/libs/backbone.babysitter.js"></script>
    <script src="js/libs/backbone.marionette.js"></script>
    <script src="js/app.js"></script>


    <script src="tpl/step.tpl" id="step-tpl" type="text/x-template"></script>
    <script src="tpl/stepOverview.tpl" id="stepoverview-tpl" type="text/x-template"></script>
    <script src="tpl/stepForm.tpl" id="stepform-tpl" type="text/x-template"></script>
    <script src="tpl/enumParamForm.tpl" id="enumparam-tpl" type="text/x-template"></script>
    <script src="tpl/numberParamForm.tpl" id="numberparam-tpl" type="text/x-template"></script>

    <script src="js/models/StepModel.js"></script>
    <script src="js/collections/StepCollection.js"></script>

    <script src="js/views/EnumParamView.js"></script>
    <script src="js/views/NumberParamView.js"></script>
    <script src="js/views/StepView.js"></script>
    <script src="js/views/StepOverview.js"></script>
    <script src="js/views/StepFormView.js"></script>
    


    <script src="js/controller.js"></script>
    <script src="js/router.js"></script>
    <script src="js/bootstrap.js"></script>

</body>

</html>