<html>

<head>
    <link rel="stylesheet" href="/css/main.css">
</head>
<html>
<div id="login">
   <h1>Login</h1>
    <form action="/login" method="post">
       <div class="input-group">
           <input type="text"  name="username" placeholder="username" required>
        <input type="password"  name="password" placeholder="password" required>
       </div>
        <button type="submit" style="width: 100%; padding: 15px;">Login</button>
    </form>
</div>

</html>

</html>