$sidebar-width: 300px;
$sidecolor: #333;
$padding: 0.5rem;
#main {
    width: 100%;
    margin: 35px;
    #step-overview, #stepformview {
        width: 960px;
        min-height: 500px;
        margin: 0 auto;
        position: relative;
        .step-container {
            width: 320px;
            box-sizing: border-box;
            padding: 12px;
            float: left;
            #addstep{
                width: 100%;
                height: 200px;
            }
            .device {
                width: 100%;
                height: 200px;
                border-radius: 6px;
                border: 1px solid #DDD;
                background-color: white;
                position: relative;
                
                
                
                .title {
                    box-sizing: border-box;
                    background-color: #DDD;
                    padding: 12px;
                    font-size: 1.5rem;
                    background: linear-gradient(to bottom, #ffffff 1%, #f2f2f2 100%);
                    border: 1px solid #ebebeb;
                    width: 100%;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    color: #767f85;
                    
                }
                
                .params{
                    padding:12px;
                    
                    .parameter{
                        margin-bottom: 6px;
                        color: #767f85;
                    }
                }
                
                .options{
                    position: absolute;
                    width: 100%;
                    bottom: 0px;
                    padding: 12px;
                    box-sizing: border-box;
                    border-top: 1px dotted #ebebeb;
                    background-color: #F6F6F6;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    text-align: right;
                    
                    a{
                        color: #767f85;
                        margin-right: 6px;
                        text-decoration: none;
                    }
                    a:hover{
                        color: black;
                    }
            }
            }
            #addStep{
                width: 296px;
                height: 200px;
                border-radius: 6px;
                border: 2px dashed #AAA;
                //box-shadow: inset 0 0 5px #AAA;
                font-size: 24px;
                box-sizing: border-box;
                padding: 12px;
                color: #888;
                cursor: pointer;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                background-color: #E5E5E5;
                transition: all 0.3s ;
                text-decoration: none;
            }
            
            #addStep:hover{
                background-color: #AAA;
                color: white;
            }
            
        }
    }
}

#stepformview {
        width: 960px;
        min-height: 500px;
        margin: 0 auto;
    position: relative;
    
    button{
        width: 100%;
        padding: 6px;
      
    }
    
    label, input[type=text],textarea, select, option{
        width: 100%; 
        box-sizing: border-box;
        display: block;
    }
    
    input[type=checkbox]{
        margin-bottom: 10px;
    }
    
    #addoption{
        width: 25%;
        float:right;
        background-color: #000055;
        color: white;
        border: 0;
        margin-bottom: 10px;
        cursor: pointer;
        
    }
    
    
    label{
        margin-bottom: 12px;
        color: #767f85;
    }
    input[type=text],textarea,select, option{
        resize:none;
        padding: 12px 12px;
        border-radius: 6px;
        border: 1px solid #ebebeb;
        margin-bottom: 12px;
    }
    .input-line{
        input.two{
            width: 50%;
        }
    }
    
    .opt{
        display:block;
        padding: 10px;
        background-color: white;
        border-bottom: 1px solid #DDD;
    }
    
    .opt:before{
        content: 'Option: '
    }
    
    #param-config, #parameters{
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 6px;
        margin-bottom: 6px;
        
        .title {
            box-sizing: border-box;
            background-color: #DDD;
            padding: 12px;
            font-size: 1.5rem;
            background: linear-gradient(to bottom, #ffffff 1%, #f2f2f2 100%);
            border: 1px solid #ebebeb;
            width: 100%;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            color: #767f85;
                    
                }
    }
    .parameter{
        box-sizing: border-box;
        padding: 6px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #DDD;
        background-color: white;
         
        .deleteParam{
            float: right;
            cursor: pointer;
        }
    }
}

button#savedevice{
    width: 100%;
    padding: 15px;
    
}