#login{
    width: 400px;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    margin: 75px auto;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    
    input{
        width: 100%;
        padding: 12px 12px;
        border: 1px solid #ddd;
        
    }
    
    input[type="submit"]{
        background-color: #0167bf;
        color: white;
        font-weight: bold;
    }
    
    .input-group{
        margin-bottom: 12px;
        
        input:first-child{
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
        input:last-child{
            border-top: 0;    
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }
}