@import "_reset.scss";
@import "_typography.scss";
@import "_login.scss";
@import "_admin.scss";

body{
    background-color: #EEE;
}

h1{
    font-size: 1.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px dotted #dcdcdc;
}