html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: sans-serif;
  font-size: 16px; }

#login {
  width: 400px;
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
  margin: 75px auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); }
  #login input {
    width: 100%;
    padding: 12px 12px;
    border: 1px solid #ddd; }
  #login input[type="submit"] {
    background-color: #0167bf;
    color: white;
    font-weight: bold; }
  #login .input-group {
    margin-bottom: 12px; }
    #login .input-group input:first-child {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px; }
    #login .input-group input:last-child {
      border-top: 0;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px; }

#main {
  width: 100%;
  margin: 35px; }
  #main #step-overview, #main #stepformview {
    width: 960px;
    min-height: 500px;
    margin: 0 auto;
    position: relative; }
    #main #step-overview .step-container, #main #stepformview .step-container {
      width: 320px;
      box-sizing: border-box;
      padding: 12px;
      float: left; }
      #main #step-overview .step-container #addstep, #main #stepformview .step-container #addstep {
        width: 100%;
        height: 200px; }
      #main #step-overview .step-container .device, #main #stepformview .step-container .device {
        width: 100%;
        height: 200px;
        border-radius: 6px;
        border: 1px solid #DDD;
        background-color: white;
        position: relative; }
        #main #step-overview .step-container .device .title, #main #stepformview .step-container .device .title {
          box-sizing: border-box;
          background-color: #DDD;
          padding: 12px;
          font-size: 1.5rem;
          background: linear-gradient(to bottom, white 1%, #f2f2f2 100%);
          border: 1px solid #ebebeb;
          width: 100%;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          color: #767f85; }
        #main #step-overview .step-container .device .params, #main #stepformview .step-container .device .params {
          padding: 12px; }
          #main #step-overview .step-container .device .params .parameter, #main #stepformview .step-container .device .params .parameter {
            margin-bottom: 6px;
            color: #767f85; }
        #main #step-overview .step-container .device .options, #main #stepformview .step-container .device .options {
          position: absolute;
          width: 100%;
          bottom: 0px;
          padding: 12px;
          box-sizing: border-box;
          border-top: 1px dotted #ebebeb;
          background-color: #F6F6F6;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          text-align: right; }
          #main #step-overview .step-container .device .options a, #main #stepformview .step-container .device .options a {
            color: #767f85;
            margin-right: 6px;
            text-decoration: none; }
          #main #step-overview .step-container .device .options a:hover, #main #stepformview .step-container .device .options a:hover {
            color: black; }
      #main #step-overview .step-container #addStep, #main #stepformview .step-container #addStep {
        width: 296px;
        height: 200px;
        border-radius: 6px;
        border: 2px dashed #AAA;
        font-size: 24px;
        box-sizing: border-box;
        padding: 12px;
        color: #888;
        cursor: pointer;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        background-color: #E5E5E5;
        transition: all 0.3s;
        text-decoration: none; }
      #main #step-overview .step-container #addStep:hover, #main #stepformview .step-container #addStep:hover {
        background-color: #AAA;
        color: white; }

#stepformview {
  width: 960px;
  min-height: 500px;
  margin: 0 auto;
  position: relative; }
  #stepformview button {
    width: 100%;
    padding: 6px; }
  #stepformview label, #stepformview input[type=text], #stepformview textarea, #stepformview select, #stepformview option {
    width: 100%;
    box-sizing: border-box;
    display: block; }
  #stepformview input[type=checkbox] {
    margin-bottom: 10px; }
  #stepformview #addoption {
    width: 25%;
    float: right;
    background-color: #000055;
    color: white;
    border: 0;
    margin-bottom: 10px;
    cursor: pointer; }
  #stepformview label {
    margin-bottom: 12px;
    color: #767f85; }
  #stepformview input[type=text], #stepformview textarea, #stepformview select, #stepformview option {
    resize: none;
    padding: 12px 12px;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    margin-bottom: 12px; }
  #stepformview .input-line input.two {
    width: 50%; }
  #stepformview .opt {
    display: block;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #DDD; }
  #stepformview .opt:before {
    content: "Option: "; }
  #stepformview #param-config, #stepformview #parameters {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 6px; }
    #stepformview #param-config .title, #stepformview #parameters .title {
      box-sizing: border-box;
      background-color: #DDD;
      padding: 12px;
      font-size: 1.5rem;
      background: linear-gradient(to bottom, white 1%, #f2f2f2 100%);
      border: 1px solid #ebebeb;
      width: 100%;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      color: #767f85; }
  #stepformview .parameter {
    box-sizing: border-box;
    padding: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
    background-color: white; }
    #stepformview .parameter .deleteParam {
      float: right;
      cursor: pointer; }

button#savedevice {
  width: 100%;
  padding: 15px; }

body {
  background-color: #EEE; }

h1 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px dotted #dcdcdc; }
