<div class="title"> Configure parameter </div>
<input type="text" id="paramName"placeholder="Parameter name*">

<input type="text" id="value" placeholder="Default Value*">
<input type="checkbox" id="required" >Is required?<br>
<input type="text" name="option" id="option" placeholder="Option">
<div><button id="addoption">Add Option</button></div>




<div id="optionList">
</div>

<button id="addparam">Add parameter</button>