<div class="title"> Configure parameter </div>
<input type="text" id="paramName"placeholder="Parameter name*">
<input type="text" id="min" placeholder="Minimum Value*">
<input type="text" id="max" placeholder="Maximum Value*">
<input type="text" id="value" placeholder="Default Value*">
<input type="text" id="unit" placeholder="Unit*">
<input type="checkbox" id="required" >Is required?<br>
<button id="addparam">Add Parameter</button>